/* :root {
  --font-kalam: "Kalam", cursive;
}
 */

@font-face {
  font-family: "true_crimesregular";
  src: url("true-crimes-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
