@use "../util/breakpoints" as *;

// Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}
.flex-c-all {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cursor-p {
  cursor: pointer;
}

.hidden {
  display: none;
}

.disable {
  pointer-events: none;
}

.padding-x {
  padding: 0 14%;

  @include breakpoint-down("small") {
    padding: 0 5%;
  }
}

.isflip {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}
